#header {
	display: block;
	max-width: 1000px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-color: yellow;
}

#container {
	display: block;
	max-width: 1000px;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: cyan;
}

#footer {
	display: block;
	width: 100%;
	height: 100px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: white;
	background-color: black;
}