<div id="content">
	<br>
	<b>What is Grace's Wings?</b><br>
	Grace’s Wings is a Supernatural/Urban Fantasy webcomic about a for-hire exorcist/paranormal investigator (Nadia Iamavich) and the demonic voice in her head ("Jim"). While on what looks like a run-of-the-mill haunting case, she uncovers a prophecy that details the return of a powerful and malevolent entity that was though destroyed decades ago. However, she isn’t the only one who knows of the prophecy. Multiple factions work in the darkness, each with different plans for the prophecy (and Nadia) in mind.
	<br><br><br>
	<b>When do you update?</b><br>
	We put the first chapter up in full when we launched, but after that we'll update every week on Wednesday.
	<br><br><br>
	<b>Who are you?</b><br>
	There's two of us! Faith is the "creator" of Grace's Wings, and handles art (both comic and site) and writing. Dan is a friend of hers that acts as lead writer, and handles scripts and the website. Both of us are out of college and barely-employed, but the dream is that we can eventually do this full time!
	<br><br><br>
	<b>How can I contact you?</b><br>
	We have a contact page where you can find our shared email, as well as all the social networking whatsits that we're on. The comic's main social networking pages can be found on the sidebar to the left.
	<br><br><br>
	<b>Which of you manages the Facebook/Twitter pages?</b><br>
	Given Dan's hatred of social media and refusal to log into Facebook, Dan's brother Dave usually handles the comic's social media pages. <a href="https://www.facebook.com/Vyratik">He also does music reviews and a radio show</a>. Dan and Faith check the email and manage thier personal accounts, though.
</div>