<div id="content">
	<br>
	<div class="profileTitle">Nadia Iamavich - The Mage</div>
	<img src="/img/icons/cast/nadiaProfile.png" class="profileImg">
	<div class="profileInfo">Coming soon...</div>
	<br><br>
	<div class="profileTitle">"Jim" - The Monster</div>
	<img src="/img/icons/cast/jimProfile.png" class="profileImg">
	<div class="profileInfo">Coming soon...</div>
	<br><br>
	<div class="profileTitle">The Knight</div>
	<img src="/img/icons/cast/knightProfile.png" class="profileImg">
	<div class="profileInfo">Coming soon...</div>
	<br><br>
	<div class="profileTitle">The Witch</div>
	<img src="/img/icons/cast/witchProfile.png" class="profileImg">
	<div class="profileInfo">Coming soon...</div>
	<br><br>
	<div class="profileTitle">The Sovereign</div>
	<img src="/img/icons/cast/sovereignProfile.png" class="profileImg">
	<div class="">Coming soon...</div>
	<br><br>
	<div class="profileTitle">The Soldier</div>
	<img src="/img/icons/cast/soldierProfile.png" class="profileImg">
	<div class="">Coming soon...</div>
	<br><br>
	<div class="profileTitle">The Rogue</div>
	<img src="/img/icons/cast/rogueProfile.png" class="profileImg">
	<div class="">Coming soon...</div>
	<br><br>
	<div class="profileTitle">The Assassin</div>
	<img src="/img/icons/cast/assassinProfile.png" class="profileImg">
	<div class="">Coming soon...</div>
	<br><br>
</div>