<!-- View for each page of the comic -->
<div id="pagerBox">
	<ul class="list">
		<li class="navItem"><a href="#/comics/{{comic}}/1" class="pagerLink"><img src="/img/buttons/first.png"></a></li>
		<li class="navItem"><a href="#/comics/{{comic}}/{{prevPage}}" class="pagerLink"><img src="/img/buttons/prev.png"></a></li>
		<li class="navItem"><a href="#/comics/{{comic}}/{{nextPage}}" class="pagerLink"><img src="/img/buttons/next.png"></a></li>
		<li class="navItem"><a href="#/comics/{{comic}}/{{lastPage}}" class="pagerLink"><img src="/img/buttons/last.png"></a></li>
	</ul>
</div>
<img ng-src="/img/comics/{{comic}}/{{page}}.png" class="comicBox">