<!-- Chapter list for each series -->
<div id="content">
	<br>
	<div class="listTitle">Select Chapter</div>
	<ul class="list">
		<li ng-repeat="chapter in chapters" class="listItem">Book: {{chapter.comic}} | Chapter: {{chapter.chapter }} | Cover Page: {{chapter.coverpage}}
			<!--<div class="archiveButton">
				<img src="/img/icons/comics/{{chapter.comic}}/{{chapter.comic}}Chapter{{chapter.chapter}}.png" class="archiveSymbol">
				<img src="/img/icons/comics/{{chapter.comic}}/{{chapter.comic}}Chapter{{chapter.chapter}}title.png" class="archiveTitle">
			</div>-->
		</li>
	</ul>
</div>