<div id="content">
	<br>
	If you would like to contact us, please email us at <a href="mailto:graceswingscomic@gmail.com">graceswingscomic@gmail.com</a>. If you want to email one of us specifically, just put "Faith" or "Dan" in the subject. You can find our Twitters, Tumblrs, etc at the links below, and you can find our official facebook and twitter on the sidebar to the left.
	<br><br><br>
	<div class="contactRow">
		<div class="contactBox2">
			<div class="profileTitle">Faith Schindler</div>
			<img src="/img/icons/contact/faithProfile.png" class="profileImg">
			<div class="profileInfo">
				Story/Art<br>
				<br>
				Faith is an artist and full time mom to a brood of whiny cats. She spends a lot of her time drawing this comic, crying about movies, and attempting to wrangle her cats. Many moons ago she started on this magical journey full of friendship and comics and now we’re finally here with the final product. Faith studied Art and Art History, apparently going for the "starving artist" thing.
				<br><br>
				You can follow her here:<br>
				<a href="https://www.twitter.com/catsweaterssass">Faith's Twitter</a><br>
				<a href="http://www.rawrsaurusrawrs.tumblr.com/">Faith's Tumblr</a>
			</div>
		</div>
		<div class="contactBoxRight">
			<div class="profileTitle">Dan Michalak</div>
			<img src="/img/icons/contact/danProfile.png" class="profileImg">
			<div class="profileInfo">
				Story/Script/Website<br>
				<br>
				Dan somehow ended up as Grace's Wings lead writer through interest in his friend Faith's project and unhealthy control freak tendancies. His job mostly involves organizing his and Faith's insane ramblings into a semi-coherent script. He also built this piece of shit website, which should be a lot better considering his five years in college studying web development.
				<br><br>
				You can follow him here:<br>
				<a href="https://www.twitter.com/Metalbane">Dan's Twitter</a>
			</div><br>
		</div>
	</div>
</div>