<div id="footerContent">
	<br>
	<div class="footerTitle">Follow Us:</div>
	<ul class="list">
		<li><a href="https://www.facebook.com/graceswingscomic" class="footerLink">Facebook</a></li>
		<li><a href="https://www.twitter.com/gwcomic" class="footerLink">Twitter</a></li>
		<li><a href="/rss/gw.xml" class="footerLink">RSS</a></li>
	</ul>
	<br>
	<div class="footerTitle">Affiliates</div>
	<ul class="list">
		<li><a href="https://www.facebook.com/Vyratik" class="footerLink">Vyratik</a></li>
		<li><a href="https://www.facebook.com/Comic.Collision" class="footerLink">Comic Collision</a></li>
		<li><a href="http://www.some-stories.com/" class="footerLink">Some Stories</a></li>
		<li><a href="http://www.tvtropes.org/pmwiki/pmwiki.php/Main/HomePage" class="footerLink">TvTropes</a></li>
	</ul>
</div>