<div class="adLeaderboardContainer"></div>
<br>
<a href="#/"><img src="/img/gwBanner.png" id="gwBanner"></a>
<br>
<div id="navBar">
		<ul>
			<li><a ui-sref="home"><img src="/img/buttons/home.png" class="navButton"></a></li>
			<li><a ui-sref="archive"><img src="/img/buttons/archive.png" class="navButton"></a></li>
			<li><a ui-sref="about"><img src="/img/buttons/about.png" class="navButton"></a></li>
			<li><a ui-sref="cast"><img src="/img/buttons/cast.png" class="navButton"></a></li>
			<li><a ui-sref="contact"><img src="/img/buttons/contact.png" class="navButton"></a></li>
			<li><a src="rss.xml"><img src="/img/buttons/rss.png" class="navButton"></a></li>
		</ul>
</div>