<div class="adLeaderboardContainer"></div>
<br>
<a href="#/"><img src="/img/gwBanner.png" id="gwBanner"></a>
<br><br>
<div id="navBar">
		<ul class="list">
			<li class="navItem"><a ui-sref="home" class="navLink"><img src="/img/buttons/home.png" class="navButton"></a></li>
			<li class="navItem"><a ui-sref="archive" class="navLink"><img src="/img/buttons/archive.png" class="navButton"></a></li>
			<li class="navItem"><a ui-sref="about" class="navLink"><img src="/img/buttons/about.png" class="navButton"></a></li>
			<li class="navItem"><a ui-sref="cast" class="navLink"><img src="/img/buttons/cast.png" class="navButton"></a></li>
			<li class="navItem"><a ui-sref="contact" class="navLink"><img src="/img/buttons/contact.png" class="navButton"></a></li>
			<li class="navItem"><a src="rss/gw.xml" class="navLink">RSS</a></li>
		</ul>
</div>