<div class="adLeaderboardContainer">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Top Banner -->
	<ins class="adsbygoogle"
	style="display:inline-block;width:728px;height:90px"
	data-ad-client="ca-pub-3777765983404610"
	data-ad-slot="1233174681"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<br>
<a href="#/"><img src="/img/gwBanner.png" id="gwBanner"></a>
<br><br>
<div id="navBar">
		<ul class="list">
			<li class="navItem"><a href="#/home" class="navLink"><img src="/img/buttons/home.png" class="navButton"></a></li>
			<li class="navItem"><a href="#/comics/gw" class="navLink"><img src="/img/buttons/archive.png" class="navButton"></a></li>
			<li class="navItem"><a href="#/about" class="navLink"><img src="/img/buttons/about.png" class="navButton"></a></li>
			<li class="navItem"><a href="#/cast" class="navLink"><img src="/img/buttons/cast.png" class="navButton"></a></li>
			<li class="navItem"><a href="#/contact" class="navLink"><img src="/img/buttons/contact.png" class="navButton"></a></li>
		</ul>
</div>