<div id="content">
	<!--
	<br>
	<ul ng-repeat="post in posts" class="list">
		<li>
			<div class="newsTitle">{{post.title}}</div>
			<div class="newsDate">{{post.day}} {{post.monthStr}} {{post.year}}</div>
			<br>
			<div class="newsBody">{{post.body}}</div>
			<br><br>
		</li>
	</ul>
	-->
	<br>
	<div class="sectionTitle">Grace's Wings</div>
	<div class="newsDate">Start Reading: <a href="#/comics/gw/1">Grace's Wings Chapter 1</a></div>
	<div class="newsDate">Latest Update: <a href="#/comics/gw/1">Grace's Wings Chapter 1 - Bonus Page</a></div><br>
	<br>
	<div class="sectionTitle">News</div>
	<ul ng-repeat="post in posts" class="list">
		<li>
			<div class="newsTitle">{{post.title}}</div>
			<div class="newsDate">{{post.day}} {{post.monthStr}} {{post.year}}</div>
			<br>
			<div class="newsBody">{{post.body}}</div>
			<br><br>
		</li>
	</ul>
</div>